[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyqt6 = "*"
adafruit-rplidar = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
serial = "*"
gpsd = "*"
gps = "*"
odrive = "*"
pygame = "*"
pillow = "*"

[scripts]
main = "python src/main.py"
lidar = "python testing/LiDAR.py"
mapping = "python testing/LiDAR-mapping.py"
odo = "python testing/odometry-test.py"
map = "python testing/map.py"
gps = "python testing/gps_test.py"
aio = "python testing/asyncio-test.py"
r2d2 = "python R2D2-LiDAR.py"

[dev-packages]

[requires]
python_version = "3.13"
